<details class="ecl-expandable" [#if configuration.open]open[/#if]>
  <summary class="ecl-expandable__trigger">
    <span class="ecl-expandable__icon-show" aria-hidden="true">
      <img class="icon" src="[resources:icon-plus.svg]" alt=""/>
    </span>
    <span class="ecl-expandable__icon-hide" aria-hidden="true">
      <img class="icon" src="[resources:icon-minus.svg]" alt=""/>
    </span>
    <span class="ecl-expandable__label-show" data-lfr-editable-id="label-show" data-lfr-editable-type="text">Read more</span>
    <span class="ecl-expandable__label-hide" data-lfr-editable-id="label-hide" data-lfr-editable-type="text">Read less</span>
  </summary>
  <div class="ecl-expandable__content">
    <p data-lfr-editable-id="content" data-lfr-editable-type="rich-text">
      The expandable component reveals additional content on demand, helping to keep the page focused while still providing complete information.
    </p>
  </div>
</details>
