<fieldset class="ecl-form-fieldset">
  <legend class="ecl-form-legend">
    <span data-lfr-editable-id="legend" data-lfr-editable-type="text">How did you hear about us?</span>
  </legend>
  [#if configuration.showHelp]
    <p class="ecl-form-help" data-lfr-editable-id="help" data-lfr-editable-type="text">Select the option that best applies.</p>
  [/#if]
  <div class="ecl-form-options">
    <label class="ecl-form-check">
      <input type="radio" name="source" value="search" checked/>
      <span class="ecl-form-check__label">Search engine</span>
    </label>
    <label class="ecl-form-check">
      <input type="radio" name="source" value="social"/>
      <span class="ecl-form-check__label">Social media</span>
    </label>
    <label class="ecl-form-check">
      <input type="radio" name="source" value="friend"/>
      <span class="ecl-form-check__label">From a friend or colleague</span>
    </label>
    <label class="ecl-form-check">
      <input type="radio" name="source" value="other"/>
      <span class="ecl-form-check__label">Other</span>
    </label>
  </div>
</fieldset>
