<figure class="ecl-blockquote">
  <blockquote class="ecl-blockquote__text" data-lfr-editable-id="quote" data-lfr-editable-type="rich-text">
    “The European Union is unique. It is not a federal State like the United States of America. Nor is it an organisation for cooperation between governments, like the United Nations.”
  </blockquote>
  [#if configuration.showCite]
    <figcaption class="ecl-blockquote__cite">
      <span class="ecl-blockquote__author" data-lfr-editable-id="author" data-lfr-editable-type="text">European Commission</span>
      <span class="ecl-blockquote__source" data-lfr-editable-id="source" data-lfr-editable-type="text">— How the EU works</span>
    </figcaption>
  [/#if]
</figure>
