<nav class="ecl-pagination" aria-label="Pagination">
  <ul class="clean-list ecl-pagination__list" role="list">
    <li><a class="ecl-pagination__link ecl-pagination__link--nav" href="#" rel="prev">Previous</a></li>
    <li><a class="ecl-pagination__link"  href="#">1</a></li>
    <li><a class="ecl-pagination__link"  href="#">2</a></li>
    <li><a class="ecl-pagination__link ecl-pagination__link--current" href="#" aria-current="page"><span class="visuallyhidden">Page </span>3</a></li>
    <li><a class="ecl-pagination__link"  href="#">4</a></li>
    <li><a class="ecl-pagination__link"  href="#">5</a></li>
    <li><span class="ecl-pagination__ellipsis" aria-hidden="true">…</span></li>
    <li><a class="ecl-pagination__link"  href="#">12</a></li>
    <li><a class="ecl-pagination__link ecl-pagination__link--nav" href="#" rel="next">Next</a></li>
  </ul>
</nav>
