<div class="ecl-tabs" data-ecl-tabs>
  <div class="ecl-tabs__list" role="tablist">
    <button type="button" role="tab" id="tab-1" aria-selected="true"  aria-controls="panel-1" tabindex="0"  class="ecl-tabs__tab">
      <span data-lfr-editable-id="tab-label-1" data-lfr-editable-type="text">Overview</span>
    </button>
    <button type="button" role="tab" id="tab-2" aria-selected="false" aria-controls="panel-2" tabindex="-1" class="ecl-tabs__tab">
      <span data-lfr-editable-id="tab-label-2" data-lfr-editable-type="text">Details</span>
    </button>
    <button type="button" role="tab" id="tab-3" aria-selected="false" aria-controls="panel-3" tabindex="-1" class="ecl-tabs__tab">
      <span data-lfr-editable-id="tab-label-3" data-lfr-editable-type="text">Resources</span>
    </button>
  </div>

  <div class="ecl-tabs__panel" id="panel-1" role="tabpanel" aria-labelledby="tab-1">
    <p data-lfr-editable-id="panel-1" data-lfr-editable-type="rich-text">
      Overview content. A short, scannable summary of the topic.
    </p>
  </div>
  <div class="ecl-tabs__panel" id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden>
    <p data-lfr-editable-id="panel-2" data-lfr-editable-type="rich-text">
      More detailed information for visitors who want to go deeper.
    </p>
  </div>
  <div class="ecl-tabs__panel" id="panel-3" role="tabpanel" aria-labelledby="tab-3" hidden>
    <p data-lfr-editable-id="panel-3" data-lfr-editable-type="rich-text">
      Related documents, downloads and external resources.
    </p>
  </div>
</div>
